img{
    width: 100%;
}

.img{
    width: 60%;
}

.imgContainer{
    text-align: center;
}

.container h1{
    font-weight: bolder;
    color: #192a56 ;
}

.paragraph{
    text-align: justify;
    font-size: larger;
}

